body {
margin: 0;
  padding:0;
}


#canvas{
display: inline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  width: 100%;
height: 100%;
}
.info{
  font-family:Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color:white;
  font-size: 1.3em;
  padding:0;
  margin:0;
  text-align: center;
  margin:auto;
  height: 50%;
    width: 100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.projects {
	color:white;
}
.ul{
  list-style-type: none;
}
